{% block head %}
    <meta charset="utf-8">
    <title>Veille Technologique</title>
    {% block stylesheets %}
        <link href="{{ asset('bundles/veilleTechnologique/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/veilleTechnologique/css/jumbotron.css') }}" rel="stylesheet">
    {% endblock %}
{% endblock %}

{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        {% include "veilleTechnologiqueveilleBundle::menu.html.twig" %}
    </div>
</nav>
        
<div class="jumbotron">
    <div class="container">
        <h1><center>Veille Technologique</center></h1>
        <p style="text-align:center;">- Projet lanc&eacute; par des &eacute;tudiants en BTS SIO 2&egrave;me ann&eacute;e -</p>
    </div>
</div>
        
<div class="block">
    <div id="container" class="container">
        <div class="row">
            <div class="col-md-12">
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ type }}" role="alert">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
            
        {% block content %}{% endblock %}
        
        <hr>
        <footer>
            <p style="text-align:center;">- Veille Technologie &copy; 2015 - Projet lanc&eacute; par des &eacute;tudiants en BTS SIO 2&egrave;me ann&eacute;e -</p>
        </footer>
    </div>
</div>
        
<script type="text/javascript" src="{{ asset('bundles/veilleTechnologique/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/veilleTechnologique/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/veilleTechnologique/js/fonction.js') }}"></script>
{% endblock %}