{% extends "veilleTechnologiqueveilleBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Inscription</h2>
                    <hr>
                    {{form_start(form)}}
                        <div class="input-group">
                            <span class="input-group-addon" >&gt;</span>
                            {{form_widget(form.user, {'attr': {'class': 'form-control','placeholder':'Nom d\'utilisateur'}})}}
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" >&gt;</span>
                            {{form_widget(form.pass, {'attr': {'class': 'form-control','placeholder':'Mot de passe'}})}}
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">&gt;</span>
                            {{form_widget(form.mail, {'attr': {'class': 'form-control', 'placeholder':'Email'}})}}
                        </div>
                    <br>
                    {{form_widget(form.valide, {'attr': {'class': 'btn btn-primary', 'style':'width:100%'}})}}
                    {{form_end(form)}}    
                </div>
            </div>
        </div>
    </div>    
{% endblock %}